APP_VERSION=0.0.1
APP_LOG_LEVEL=INFO

# MongoDB info
MONGO_URL=mongodb://USERNAME:PASSWORD@mongo-dev-1.lts.harvard.edu:27072,mongo-dev-2.lts.harvard.edu:27072,mongo-dev-arbiter.lts.harvard.edu:27072/?replicaSet=devrs&authSource=jstorforum-dev
MONGO_DBNAME=jstorforum-dev
MONGO_COLLECTION=integration_test

FIRST_QUEUE_NAME=first_queue_itest
SECOND_QUEUE_NAME=transform_jstorforum_itest
THIRD_QUEUE_NAME=publish_jstorforum_itest
LAST_QUEUE_NAME=completed_jstorforum_itest

SLEEP_SECS=90

# s3 info for via bucket
S3_VIA_ENDPOINT=
S3_VIA_ACCESS_KEY=
S3_VIA_SECRET_KEY=
S3_VIA_BUCKET=
S3_VIA_REGION=
S3_VIA_TEST_OBJECT=

# s3 info for ssio bucket
S3_SSIO_ENDPOINT=
S3_SSIO_ACCESS_KEY=
S3_SSIO_SECRET_KEY=
S3_SSIO_BUCKET=
S3_SSIO_REGION=
S3_SSIO_TEST_OBJECT=

# s3 info for aspace bucket
S3_ASPACE_ENDPOINT=
S3_ASPACE_ACCESS_KEY=
S3_ASPACE_SECRET_KEY=
S3_ASPACE_BUCKET=
S3_ASPACE_REGION=
S3_ASPACE_TEST_OBJECT=

S3_TEST_PREFIX=

JSTOR_HARVEST_DIR=
JSTOR_TRANSFORM_DIR=
JSTOR_ASPACE_DIR=
JSTOR_HARVEST_CONFIG=
JSTOR_HARVEST_TEST_CONFIG=

HARVEST_IGNORE_DIRS=
TRANSFORM_IGNORE_DIRS=

DASHBOARD_URL=

JSTOR_HARVESTED_RECORDS=jstor_harvested_records
JSTOR_TRANSFORMED_RECORDS=jstor_transformed_records
JSTOR_PUBLISHED_RECORDS=jstor_published_records
HARVEST_COLLECTION=jstor_harvests

JSTOR_HARVESTED_SUMMARY=jstor_harvested_summary
JSTOR_TRANSFORMED_SUMMARY=jstor_transformed_summary
JSTOR_PUBLISHED_SUMMARY=jstor_transformed_summary
